<main class=" flex flex-row h-screen">
  <%= render 'recommended_live_streams' %>

  <div class=" w-3/5 bg-gray-50 max-h-screen overflow-y-auto">
    <div class="p-4">
      <iframe
        class="aspect-video w-full"
        style="height: 80vh;"
        src=<%= @live_stream.url %>
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;"
        allowfullscreen></iframe>
    </div>
    <div class="p-4">
      <h2>Products</h2>
      <div class="mt-4 grid grid-cols-4 gap-4">
        <% 50.times do |i| %>
          <div class="shadow-md hover:shadow transition h-40 w-40 place-self-center p-4 rounded">hola <%= i %></div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'messages' %>
</main>