<article class="shadow-md hover:shadow transition w-40 place-self-center p-4 rounded">
  <%= image_tag("#{product.category}_#{rand(1..9)}.webp", class: "object-contain h-32 mx-auto") %>
  <p class="font-bold text-gray-700 text-sm mt-4"><%= product.name %></p>
</article>