<div class="mt-4 grid grid-cols-3 gap-4 mb-8">
  <% 3.times do  %>
    <div class="shadow-md hover:shadow transition p-4 h-40 w-40 place-self-center rounded animate-pulse">
      <div class="w-full p-4 h-24 bg-gray-100"></div>
      <div class="w-full p-4 mt-4 h-8 bg-gray-100"></div>
    </div>
  <% end %>
</div>
